# build directory
build/*
**/Debug/*
**/Release/*
.vs/*
VirtualWebcam.VC.db
ipch/BASECLASSES-ca73d73d/BASECLASSES-f4224c33.ipch
ipch/VIRTUALWEBCAM-9141c117/VIRTUALWEBCAM-b4498da0.ipch
/ipch
/VirtualWebcam.VC.VC.opendb

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

